@use "../../../../assets/scss/mixins" as m;
@use "../../../../assets/scss/variables" as v;


.slider{
    background-image: url("../../../../assets/img/slider/slider-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    //border: 3px solid blue;
    @include m.flexbox(row , flex-start , stretch , 0rem);
    position: relative;

    &::before{
        content:"";
        background-image: linear-gradient(to right , v.$color4 , v.$color5);
        position: absolute;
        top: 0; left: 0 ; right: 0; bottom: 0;
    }

    .carousel {
       width: 100%;
       
       .carousel-inner{
        height: 100%;

        .carousel-item{
            height: 100%;
            

            img{

                position: absolute;
                right: 0;
                bottom: 0;
                height: 25rem;

                @media (max-width:1300px){
                    display: none;
                }
            }
       
            .carousel-caption{
                top:50%;
                transform:translate(-50%);
                text-align: left;
                width: 30%;

                @media (max-width:1300px){
                    width: 80%;
                    text-align: center;
                    left: 50%;
                    transform: translateX(-50%)  ;
                   
                }
    
                h2{
                    color: v.$color1;
                    font-size: 3rem;
                    font-weight: 900;
                    text-shadow: 0 0 15px white;
                }
    
                p{
                    font-size: 1.2rem;
                    color: v.$color2;
    
                }
    
            }
       
        }

        


       }

    }

}