$color1: rgb(255,98,48) ;
$color2: rgb(26,26,26) ;
$color3: rgb(237,237,237) ;
$color4: rgb(255,96,48,0.19) ;
$color5: rgb(255,96,48,0.503) ;

/*BOOTSTRAP*/
$primary: $color1;
$navbar-light-color: $color2;
$navbar-light-hover-color: $color1;
$navbar-light-active-color: $color1;
$nav-link-font-weight : 500;
$font-family-sans-serif:"Open+Sans";
$border-radius: 2rem;
$input-btn-padding-y:1rem;
$input-btn-padding-x:2rem;
$btn-link-color : white;

/*Sweet alert*/
$swal2-confirm-button-background-color:$color1;
$swal2-cancel-button-background-color:$color2;
$swal2-question:$color1;

/*Swiper */
$themeColor : $color1;

