@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;


.footer {
    background-color: v.$color1;
    padding: 5rem 0;

    img{
        margin-bottom: 1rem;
    }

    ul{
        @include m.reset-list();
        @include m.flexbox(column , flex-start , flex-start , 1rem);
        a{
            color: v.$color2;
        }
    }

    h2{
        font-weight: 700 ;
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

}