@use "../../../assets/scss/variables" as v;

.loading{
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    position: relative;
   /*  background-image: url("../../../assets/img/logo/logo.png");
    background-position: center;
    background-repeat: no-repeat;
 */
    .spinner-border{
       color:  v.$color1;
    }

}