@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

.why-choose-us{
    
    text-align: center;

    ul{

        @include m.flexbox(column , flex-start , flex-start , 2rem);
        @include m.reset-list();

        li{

            @include m.flexbox(row , flex-end , flex-start , 2rem);
            @media (max-width:400px){

                @include m.flexbox(column , flex-start , center , 2rem);
                text-align: center;

            }

            text-align: left;
            
            div{

                &:first-child{

                    flex-shrink: 0;
                    @include m.flexbox(row , center , center , 0);
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background-color: v.$color4;

                }

                svg{

                    color: v.$color1;
                    font-size: 3rem;

                }

            }

        }

    }

}

@media (max-width:400px){
    
    .btnAbout{

        margin-top: 1rem;
        margin-bottom: 1rem;

    }

  
}